# Backend
APP_ENV=development
BACKEND_URL=http://localhost:8000

# Frontend
FRONTEND_URL=http://localhost:3000

# Auth (later we'll integrate OAuth or Supabase)
SECRET_KEY_BASE=change_me

# Database
DATABASE_URL=sqlite:///./db.sqlite3
